*{ margin: 0;
   padding: 0;
   box-sizing: border-box;
   overflow-x: hidden;
}
body {
    width: 100%;
    height: auto;
    background-color: aquamarine;
}
#score-container {
    display: flex;
    justify-content: space-between;
    width: 100%;  
    position: fixed;
    background-color: darkorchid;
    font-size: 20px;
    font-family: sans-serif;
    opacity: 0.8; 
    color: azure;
}  
#correct {
    background-color: blue;
    width: 10%;
    text-align: center;
}
#add-score {
    font-size: 50px;
}   
#incorrect {
    background-color: red;
    width: 10%;
    text-align: center; 
}
#sub-score {
    font-size: 50px;
}
#heading {
    font-family: sans-serif;
    font-size: 60px;
    color: blue;
}
.question {
    display: flex;
    background-color: white;
    border: 5px solid white;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 62vh;
    max-width: 90%;
    margin: 0% 10% ;
    margin-top:22vh ;
    margin-bottom: 3vh;
    line-height: 8vh;
}
.question-No {
    width: 90%;
    overflow: hidden;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
}
.fill {
    width: 90%;
    overflow: hidden;
    font-size: 24px;
    font-family: sans-serif;
} 
input[type ="radio"] {
    width: 3vh;
    height: 3vh;
}
.submit {
    width: 30%;
    padding: 2vh;
    font-size: 20px;
    color: white;
    border: 1px solid  rgb(9, 241, 9);
    background-color: rgb(9, 241, 9);
    border-radius: 10px;
    cursor: pointer;
}
.submit:hover {
    background-color: white;
    color: black;
}
.submit:active {
    background-color: bisque;
}

  